* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 --navy-blue: #2e2f42;
 --slate: #434455;
 --cloud: #f4f4fd;
 --iris: #4d5ae5;
 --orange: #e7791f;
 --ocean: #404bbf;
 --cornflower: #e7e9fc;
 --white: #fff;
 --blue: #0000ff;
}


body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}
header {
  color: var(--navy-blue);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.logo {
  text-decoration: none;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: var(--navy-blue);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
}

.iris {
  color: var(--iris);
}

.nav-menu-link {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.nav-menu-list .nav-menu-link:hover {
  color: var(--ocean);
}

.address .address-link:hover {
    color: var(--ocean);
}

.nav-menu-list {
  list-style: none;
}

.address {
  list-style: none;
}

.address-link {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: var(--slate);
}
.hero {
  background-color: var(--navy-blue);
}

.hero-text {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 1.07em;
}

.hero-button:hover {
  background-color: var(--ocean);
}

.hero-button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  outline: none;
  border: unset;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  font-family: inherit;
}


.filter-item {
  list-style: none;
}

.filter-button {
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  padding: 12px 24px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--cornflower);
  font-family: inherit;
}

.filter-item .filter-button:hover{
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
  0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-card-list {
  list-style-type: none;

}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
  color: var(--navy-blue);
}

p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: var(--slate);
}

.features-item {
  list-style-type: none;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.20em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.service-images {
  list-style: none;
}

.team {
  background-color: var(--cloud);
}

.team-text {
  text-align: center;
}

.team-images {
  list-style-type: none;
}

footer {
  background-color: var(--navy-blue);
}

footer p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: var(--cloud);
}

.cloud {
  color: var(--cloud);
}
