* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
 --navy-blue: #2e2f42;
 --slate: #434455;
 --cloud: #f4f4fd;
 --iris: #4d5ae5;
 --orange: #e7791f;
 --ocean: #404bbf;
 --cornflower: #e7e9fc;
 --white: #fff;
 --blue: #0000ff;
}


body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}
header {
  color: var(--navy-blue);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,

ul {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.main-header-container {
  width: 1128px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

}

.header {
  border-bottom: 1px solid var(--cornflower, #E7E9FC);
  background: var(--white, #FFF);
}

.nav-menu-link {
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav-menu-item {
  display: inline-flex;
}

.contacts-address {
  display: inline-block;
  margin-left:auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
  position: relative;
  left: 76px;
}

.address ul {
  list-style: none;
  display: flex;
  gap: 40px;
  position: relative;
  left: 332px;
}


.nav-menu-list {
  list-style: none;
  margin-left: 76px;

}

.contacts {
  list-style: none;
}


.logo {
  text-decoration: none;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: var(--navy-blue);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.iris {
  color: var(--iris);
}

.nav-menu-link {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;

}

.nav-menu-list .nav-menu-link:hover {
  color: var(--ocean);
}

.contacts-address .contacts-address-link:hover {
  color: var(--ocean);
}

.contacts-address-link {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: var(--slate);
  margin-left: auto;

}

.hero {
  background-color: var(--navy-blue);
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-text {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 1.07em;
  display: block;
  margin-top: 188px;
}

.hero-button:hover {
  background-color: var(--ocean);
}

.hero-button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  outline: none;
  border: unset;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  font-family: inherit;
  display: inline-block;
  margin-top: 48px;
  margin-bottom: 188px;
}

.features-items {
  display: inline-block;
}

.features-item {
  display: inline-block;
  margin-right: 24px;
}

.filter-menu {
  display: inline-flex;
  justify-content: 24px;
  gap: 24px;
}

.filter-item {
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 72px;
  column-gap: 24px;
  display: flex;
}

.filter-button {
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  padding: 12px 24px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--cornflower);
  font-family: inherit;
}

.filter-item .filter-button:hover{
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
  0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-card-items {
  display: inline-flex;
  justify-content: space-between;
}

.project-card-list {
  list-style-type: none;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  text-align: center;
  width: calc((100% - 24px) / 3 );
  border: 1px solid var(--cornflower, #E7E9FC);
  background: var(--white, #FFF);
  margin-top: 48px;
}
.project-card-list .section-text {
  margin-top: 8px;
  margin-bottom: 32px;
}

.project-card-list .section-sub-header {
  margin-top: 32px;
}

.section-sub-header {
  font-size: 20px;  
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
  color: var(--navy-blue);
}

.section-text {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: var(--slate);

}

.features-item {
  list-style-type: none;
  text-align: left;
}
.features-item .section-sub-header {
  margin-bottom: 8px;
}

.section-main-header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.20em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 80px;
}

.services-lists {
  list-style: none;
  display: inline-flex;
  column-gap: 24px;
  align-items: flex-start;
}

.team {
  background-color: var(--cloud);
}

.team-members {
  list-style: none;
  display: inline-flex;
  column-gap: 24px;
  justify-content: center;
}
 .team-images {
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
  0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }
.team-text {
  text-align: center;
}

.team-images .section-sub-header {
  margin: 32px 0px 8px;
}

.team-members .team-images {
  padding-bottom: 32px;
}

.footer {
  background-color: var(--navy-blue);
  padding-top: 101.5px;
  padding-bottom: 100px;
  text-align: left;
  margin-top: 48px;
}

.footer-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: var(--cloud);
}

.cloud {
  color: var(--cloud);
}

.section-container {
  width: 1128px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



.features {
  padding: 120px 0px;

}

.service {
  padding: 120px 0px;
}

.team {
  padding: 120px 0px;
  background-color: var(--cloud);
}

.footer-container {
  width: 1128px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--navy-blue);
}

.footer .logo {
  margin-bottom: 17.5px;
  display: block;
}

.footer-text {
  margin-top: 17.5pxx;

}